.button-arrow {
    @include size(200px, 55px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, .45);
    transition: all .3s;
    color: #000;

    @media (max-width: $mobile) {
        width: 170px;
        font-weight: 700;
    }

    &__text {
        margin-right: 20px;
    }

    &__icon {
        @include size(5px, 10px);
        margin-top: 4px;
        position: relative;
    }

    &:hover {
        background: var(--hover);
        border-color: var(--hover);
        color: #fff;

        .button-arrow__icon {
            fill: currentColor;
        }
    }
}