// CSS Variables
:root {
    --grey: #798285;
    --hover: #62a2ad;
}

// Fonts
$dosis: 'Dosis', sans-serif;
$openSans: 'Open Sans', sans-serif;

// Width for mobile/tablet
$mobile: 767px;
$desktop: 1024px;