.header {
    background: url('../images/header-bg.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;

    &__block {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.navigation {
    @include pos(fixed, $t: 0, $l: 0, $z: 99);
    width: 100%;
    background: rgba(0, 8, 12, .1);
    overflow: hidden;

    @media (max-width: $desktop) {
        background: none;
        position: static;
    }

    &__menu {
        @include pos(fixed, $t: 15px, $r: 3%, $z: 99);
        background: rgba(255, 255, 255, .9);
        padding: 10px;
        transition: all .3s;

        @media (min-width: $desktop) {
            display: none;
        }
    }

    &__input {
        display: none;

        &:checked {
            + .navigation__menu {
                right: 250px;
                width: 56px;

                .burger-menu {
                    span {
                        display: none;
                    }
            
                    &::before {
                        transform: rotate(47deg);
                        left: 3px;
                    }
            
                    &::after {
                        transform: rotate(-47deg);
                        left: 3px;
                    }
                }
            }

            ~ .menu {
                right: 0;
            }
        }
    }
}

.menu {
    display: flex;
    justify-content: center;

    @media (max-width: $desktop) {
        @include pos(fixed, $z: 1, $t: 0, $r: -250px);
        @include size(250px, 100%);
        background: rgba(255, 255, 255, .9);
        transition: all .3s;
        display: block;
        padding-top: 25px;
    }

    &__item {
        font: 17px $dosis;
        text-transform: uppercase;
        margin: 0 20px;
        text-align: center;
    }

    &__link {
        text-decoration: none;
        color: #606060;
        position: relative;
        padding: 25px 0;
        display: inline-block; 
        transition: all .3s;

        @media (max-width: $desktop) {
            display: block;
            padding: 20px 0;
            font-size: 18px;
        }

        &::before {
            @include size(calc(100% + 4px), 2px);
            @include pos($b: -30px, $l: -2px);
            content: '';
            background: #000;
            transition: all .3s;

            @media (max-width: $desktop) {
                display: none;
            }
        }

        &:hover {
            color: #000;

            &::before {
                bottom: 10px;
            }
        }
    }
}

.burger-menu {
    @mixin line($top: 0) {
        @include size(100%, 5px);
        background: #bebebe;
        border-radius: 3px;
        position: absolute;
        top: $top;
        transition: all .3s;
    }

    @include size(50px, 40px);
    display: block;
    position: relative;

    @media (min-width: $desktop) {
        display: none;
    }

    &::before {
        @include line();
        content: '';
        transform-origin: 0 0;
    }

    &::after {
        @include line(calc(100% - 5px));
        content: '';
        transform-origin: 0 100%;
    }

    span {
        @include line(50%);
        display: block;
        transform: translateY(-50%);
    }
}

.logo {
    display: inline-block;
    max-width: 50%;
    margin-top: 25vh;
}

.scroll {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    margin-top: 25px;
    position: relative;
    top: 0;
    transition: all .3s;
    animation: scroll-arrow 1.5s ease-in-out infinite;

    &:hover {
        color: var(--hover);
    }
}


@keyframes scroll-arrow {
    0% {
        top: 0;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0;
    }
}